.msr_contact_details_container {
    padding: 50px 20px;
    h2 {
        margin: 0;
        color: #00122a;
    }

    ul {
        padding: 20px 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 10px;
        flex-direction: column;

        li {
            margin: 0;
            display: flex;
            gap: 10px;

            a,p {
                width: auto;
                margin: 0;
                color: #3c6386;
                text-decoration: none;
            }

            .msr_heading {
                color: #00122a;
                font-weight: bold;
            }
        }
    }
}