.msr_main_details {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;

    img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        object-position: top;
    }

    .msr_main_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;

        h1 {
            color: #00122a;
        }
        p {
            color: #3c6386;
        }
    }

    @media (max-width: 754px)  {
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }

        .msr_main_content {
            text-align: center;
        }
    }
}