@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 90%;
    font-family: 'Inter', sans-serif;
}

.msr_body {
    .msr_nav {
        position: sticky;
        top: 0;
        background-color: #fff;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        border-bottom: 1px solid #00122a;
    }

    .msr_nav_links {
        display: flex;
        justify-content: center;
        width: 50%;
        list-style: none;
    }

    .msr_nav a {
        text-decoration: none;
        margin: 0 10px;
        color: #3c6386;

        &:hover {
            color: #00122a;
            text-decoration: underline;
        }
    }

    .msr_nav a:hover {
        text-decoration: underline;
    }

    .msr_footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #00122a;
        background-color: #fff;

        p {
            color: #00122a;
        }
    }

    .msr_social_links {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;
        color: #00122a;
    }

    .msr_social_links li {
        display: flex;
        align-items: center;
        gap: 10px;
        width: auto;

        a {
            text-decoration: none;
            color: #3c6386;

            &:hover {
                text-decoration: underline;
                color: #00122a;
            }
        }

    }

    .msr_link {
        color: #00122a;
        text-decoration: none;
        font-weight: bold;
    }

    @media (max-width: 754px) {
        .msr_nav_links {
            gap: 10px;
        }

        .msr_nav a {
            margin: 5px 0;
        }

        .msr_footer {
            flex-direction: column;
            height: auto;
            padding: 10px 0;

            p {
                width: auto;
            }
        }

        .msr_social_links {
            flex-direction: column;
            gap: 5px;
        }
    }
}